<table style="width:100%">
  <tr>
    <th> Deck </th>
    <th> # of Cards </th>
    <th> # Correct first guess </th>
    <th> Total guesses </th>
    <th> Date played </th>
  </tr>
  <% @games = Game.where(user_id: session[:user_id]) %>
  <% @games.each do |game| %>
  <tr>
    <td> <%= Deck.find(game.deck_id).topic %></td>
    <td> <%= Card.where(deck_id: game.deck_id).count %> </td>
    <td> <%= game.first_guess %> </td>
    <td> <%= Guess.where(game_id: game.id).count - Card.where(deck_id: game.deck_id).count  %>  </td>
    <td> <%= game.created_at %> </td>
  </tr>
  <% end %>
</table>

<form action="/users/<%= @games.first.user_id %>" method="get">
  <button type="Submit"> Back to Profile </button>
</form>
